// COLORS
$text_primary: #0e1111;
$text_secondary: #ffffff;
$text_sub: #bcbec0;

$bg_primary: #fafaf2;
$bg_secondary: #f2f4f6;
$bg_overlay: rgba(0, 0, 0, 0.5);

$error: #bc0022;
$success: #4bb462;
$tag: #0351c1;
