@mixin button($bg, $color) {
  background-image: linear-gradient(to bottom, $bg 50%, darken($bg, 5) 50%);
  background-size: 100% 200%;
  transition: all 0.3s ease-in-out;
  color: $color;

  &:hover {
    background-position: 0 -100%;
  }
}
