@mixin container {
  border-radius: 5px;
  background: $bg_secondary;
  padding: 10px;
  @include box-shadow;
}

@mixin content-container {
  @include container;
  margin: 110px 20% 20px calc(20% + 330px);

  @media screen and (max-width: 1650px) {
    margin: 110px 15% 20px calc(15% + 330px);
  }
  @media screen and (max-width: 1450px) {
    margin: 110px 10% 20px calc(10% + 330px);
  }
  @media screen and (max-width: 1250px) {
    margin: 110px 0% 20px calc(0% + 330px);
  }
  @media screen and (max-width: 1050px) {
    margin: 110px 0% 20px 0%;
  }
}
